/* Interaction.css */

.customers {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
  }
    
  .customers td,
  .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customers tr {
    background-color: hsl(0, 0%, 100%);
  }
    
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--color-steelblue);
    color: white;
  }
  