.menu {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #060074;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
  }
  .menu-item {
    cursor: pointer;
    padding: 5px;
    height: 28px;
    border-bottom: 1px solid rgb(187, 187, 187);
    color: #fff;
  }
  .menu-item:hover {
    color: #0090af;
  }